<ul class="breadcrumb">
    <li><a routerLinkActive="active" 
    routerLink="/home">Home</a></li><li>Regatas</li>
</ul>

<div class="css">
    <img src="https://static.lojanba.com/produtos/regata-nba-los-angeles-lakers-n-23-lebron-james-nike-masculina/30/HZM-4070-030/HZM-4070-030_zoom1.jpg?ts=1620416232">
    <img src="https://static.lojanba.com/produtos/camisa-regata-nike-chicago-bulls-swingman-road-nba-michael-jordan/16/D12-8878-016/D12-8878-016_zoom1.jpg?ts=1601716267&ims=544x">
    <img src="https://cdn.awsli.com.br/600x1000/509/509112/produto/36380501/1050dabe55.jpg">
    <img src="https://http2.mlstatic.com/D_NQ_NP_977228-MLB31788106061_082019-O.jpg">
    <img src="https://artwalk.vteximg.com.br/arquivos/ids/202138-1000-1000/Regata-Nike-Asw-Nba-Swagerman-East-2018-Masculina-Preto.jpg?v=636547114723700000">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpb-Dsqljle7RyKd_u1tZvN-lsCsAKehB4ng&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfi9T2Gh0EXyXWB31GIJDWg55uPC_lpDsIVA&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaIxMxLO85KBjzRTgz1baWehcrXQg5LTWFHQ&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsRD9HWTell6zy_krF-nptbOQYPFrXdClfnw&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOHjjsHr5rOWMmMJOSiw389BHnqMI-7Btz_Q&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyAozji-9qwuL4Lj4sSsVZJC18cJFvasrzpg&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtE9OLR1S-GRWUz8yRYHh8ec7Ev6xYDzgLvA&usqp=CAU">
</div>