<ul class="breadcrumb">
    <li><a routerLinkActive="active" 
    routerLink="/home">Home</a></li><li>Camisetas</li>
</ul>

<div class="css">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiTkweF2rNMNyZHmDJ8-vHmep_IMlh1Zms5w&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmOgLf1XLeo2ES--JyikjdekF1mIpUZfysIA&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLL6PmCjp53MELJPHVPjBeB7HZDpk9ytHABg&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSISMaxj81iTc8naIJin0ZuEjkmwRmVIqoAaA&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGJ2DtWFCcezHbF79ZaOpFfzDYDCgu1WGiug&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShQSyoysEZYJ1QTlkfqiwQLwN4jk61ImFXIA&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAnSzFlls9TUZ96kPgANz2Gi18BI_ExSic9A&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRugTwrI0An4OW6TRdnCfjKiyBFxnR23gCxJA&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYg851cUBozhK-O-_fLTyGpkH--rdoyqeHsw&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDcqFpSDjIFkIkrHnIwlJrsikYL5VsfCh4JA&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPEZJ6tE-LyaqXxQsPlcOfx4RGg4pYsk7JBA&usqp=CAU">
</div>
